body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS HEADER  */

.header {
  margin: auto;
  width: 1024px;
  height: 200px;
  margin-top: 20px;
  justify-content: center;
}

.barre-logo {
  height: 5rem;
  border-bottom: 2px solid #f8f8f8;
}
.logo {
  width: 150px;
  margin-right: 900px;
}

.restaurant-presentation {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.image-restaurant img {
  height: 150px;
  width: 300px;
  padding-left: 40px;
}

/* CSS MENU */

.content-h {
  background-color: #f3f5f5;
}

.content-menu {
  width: 1024px;
  background-color: #f3f5f5;
  display: flex;
  margin: auto;
}

.cards {
  width: 715px;
}

.panier-content {
  width: 25rem;
  height: 150px;
  padding: 0;
  font-size: 12px;
  background-color: white;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  position: fixed;
}

.cards h2 {
  text-align: left;
  padding-left: 10px;
}

.meals {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}

.meals li {
  background-color: white;
  width: 300px;
  height: 150px;
  display: flex;
  text-align: left;
  margin: auto;
  font-size: 12px;
  margin-top: 10px;
}
/* .meals li:last-child {
  align-items: left;
} */

.meals li:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.text-meals {
  width: 300px;
  padding-left: 10px;
}

.meals img {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  padding: 30px 10px 0 25px;
}

/* CSS PANIER  */

.basket-content {
  background-color: white;
  display: flex;
  padding-left: 10px;
}

.basket-content p {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

.fas {
  font-size: 20px;
  color: #00ccbc;
  padding: 10px 5px 0px 5px;
}

.button-basket {
  background-color: #00ccbc;
  width: 22rem;
  height: 3rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.empty-basket {
  width: 25rem;
  height: 12rem;
  padding: 0;
  font-size: 12px;
  background-color: white;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  position: fixed;
}
.empty-basket h4 {
  padding-top: 1rem;
  font-size: 20px;
  color: #8d9b9c;
  font-weight: lighter;
}
.button-empty-basket {
  background-color: #b9c3c3;
  width: 22rem;
  height: 3rem;
  color: #8d9b9c;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sum-content {
  width: 25rem;
  text-align: left;
  background-color: white;
}

.product-sum {
  display: flex;
  flex-wrap: wrap;
}
.product-sum p {
  flex: 1;
  padding-left: 20px;
}

.product-sum span {
  margin: 10px 0px 10px 30px;
  padding-right: 20px;
}

.delivery-sum {
  display: flex;
  flex-wrap: wrap;
}

.delivery-sum p {
  flex: 1;
  padding-left: 20px;
}

.delivery-sum span {
  margin: 10px 0px 10px 30px;
  padding-right: 20px;
}

.barre-basket {
  border-top: 2px solid #d5dada;
}

.total-sum {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}

.total-sum p {
  flex: 1;
  padding-left: 20px;
}

.total-sum span {
  margin: 10px 0px 10px 30px;
  padding-right: 20px;
}

.popular {
  display: flex;
}
.popular i {
  color: #ff7f02;
  font-size: 12px;
  margin: 0;
  padding: 19px 0px 0px 5px;
}

#popular {
  color: #ff7f02;
  margin: 0;
}

#font-price {
  font-size: 15px;
}

#Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
